.page_container {
    max-width: 1150px;
    margin: auto;
}
#v2_product .new-pro-drdwn ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    z-index: 555;
}

div#v2_product .slick-arrow {
    position: absolute;
    top: 50%;
    height: 60px;
    width: 40px;
    left: 0;
    transform: translateY(-50%);
    background: url(../v2/img/arrowControls.png) no-repeat 0 center;
    background-size: 60px auto;
}

div#v2_product .slick-arrow.slick-next {
    background: url(../v2/img/arrowControls.png) no-repeat right center;
    background-size: 60px auto;
    left: auto;
    right: 0;
}

div#v2_product .slick-arrow:before,
#product_slider .slick-dots {
    display: none;
}

div#v2_product .pad60 {
    padding: 60px 0;
}

.v2_conatainer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.v2_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.v2_row>div {
    padding: 0 10px;
}

.fullWidth {
    width: 100%;
}

#v2_main .videoWrapper {
    position: relative;
    padding-top: 0;
    height: 0;
}
.img-wd-100{
    width: 100%;
}
#v2_product .page_container .row {
    margin-left: -10px;
    margin-right: -10px;
}

#v2_main .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
}

.box-squre {
    display: inline-block;
    padding: 10px;
    text-align: left;
    line-height: 1.2;
    margin: 20px;
    background: url(../v_4/images/blue-line-box.png) no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    max-width: 53%;
    z-index: 55;
    top: 20px;
    left: 20px;
}

#s8 h5 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.auto-play-video {
    width: 100%;
    height: auto;
    position: relative;
}

.blue-txt h5 {
    color: #3b3eff;
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    padding: 20px;
}

.top-lft.abst_head {
    left: 6%;
    text-align: left;
    top: 20%;
}

.abst_head {
    color: #fff;
    line-height: 1.5;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#new-pro-page ul {
    list-style: none;
    padding: 0;
}

.dot-with ul.controls {
    position: static !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px !important;
}

ul.controls {
    position: absolute;
    bottom: 10px;
    left: 4%;
    list-style: none;
}

.dot-with ul.controls li {
    margin: 15px 25px 0 !important;
    position: relative;
}

ul.controls li {
    float: left;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
}

.Labels-img .dot-with ul.controls img {
    margin-bottom: 0;
}

.dot-with ul.controls li img {
    width: 80px;
}

.posRltv {
    position: relative;
}

.txtBx {
    text-align: left;
    margin-bottom: 20px;
}

.txtBx p {
    margin: 0;
    padding: 0;
}

.selectBox {
    text-align: left;
    margin-top: 2rem;
}

#v2_product h1.mt-3.text-center {
    padding-top: 3rem !important;
}

.proImg img {
    height: 300px;
    width: 100%;
    object-fit: contain;
    object-position: center center;
    margin: 20px 0;
}

.tabBtn a {
    display: inline-block;
    padding: 6px 12px;
    background: #ebebeb;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.3;
    color: #444;
    min-width: 110px;
    text-align: center;
    text-transform: uppercase;
}

.tabBtn li+li {
    margin-left: 10px;
}

.tabBtn a.titanim {
    background-color: #85ace7;
}

.tabBtn a.stanSteel {
    background-color: #ffb291;
}

.text-left {
    text-align: left;
}

.mt-3 {
    margin-top: 3rem;
}

#v2_main .usdPrice,
#v2_main .usdPrice span {
    font-size: 24px;
    letter-spacing: 0;
}

#v2_main .usdPrice span {
    color: #e61610;
}

.cartBtn {
    background: #38d430;
    padding: 5px 10px;
    border: 0;
    transition: all 500ms ease-in;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #fff;
    transition: all 500ms ease;
    text-align: center;
    display: block;
}
.cartBtn + .cartBtn {
    margin-top: 10px;
    width: 100%;
}
.txtBx br {
    display: none;
}

.cartBtn:hover {
    background: #B2E028;
}

.card-btn {
    text-align: left;
    border: 1px dashed #333;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    color: #333;
}

.card-btn a {
    color: inherit;
}

.card-btn img {
    max-height: 60px;
    margin-left: 15px;
}

.card-btn li {
    display: flex;
    align-items: center;
}

.dot-with ul.controls {
    position: static!important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px!important;
}

ul.controls li {
    float: left;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
}

.dot-with ul.controls li {
    margin: 15px 20px 0!important;
    position: relative;
}

.dot-with ul.controls li .fine-icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -50px;
    max-width: 35px;
}

.dot-with ul.controls li img {
    width: 80px;
}

.Labels-img .dot-with ul.controls img {
    margin-bottom: 0;
}

.Labels-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

ul.controls.noger-cont li img {
    margin: 5px 0;
}

.Labels-img .dot-with ul.controls li.king-icon span {
    color: #2ab464;
}

.Labels-img .dot-with ul.controls span {
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
}

.mdlTx {
    position: absolute;
    margin: 0;
    padding: 0;
    transform: none;
    top: 45%;
    left: 10%;
}

#v2_product .container {
    max-width: 1300px;
}

.fullMxWd {
    width: 100%;
}

div#v2_product .gray-bg1 {
    background: #949dac;
    padding: 50px;
}

.clr-white {
    color: #fff;
}

.posRlt {
    position: relative;
}

.textMdl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.s3-sec .textMdl {
    left: 20%;
}

section#s4 {
    background: #949dac;
    padding: 60px 0;
}

.mt-50{
    margin-top: 8rem
}
#v2_product .m-0{
    margin: 0;
}
#v2_product .col-50{
    width: 100%;
    margin-top: 20px;
}

#v2_product .add-bx-sel {
    text-align: left;
    margin-top: 3rem;
}
#v2_product .add-bx-sel > div {
    padding: 0;
}
#v2_product .new-pro-drdwn button {
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    border: 2px solid #d9d5d5;
    border-radius: 0;
    height: 40px;
    position: relative;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 40px !important;
}
#v2_product .new-pro-drdwn button:before {
    position: absolute;
    content: "";
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    height: 0;
  width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #333;
}
#v2_product .add-bx-sel .col-md-9.no-pad {
    width: calc(100% - 139px);
}
#v2_product .add-bx-sel > .col-md-9.no-pad {
    width: calc(100% - 139px);
}
#v2_product .add-bx-sel > .col-md-3 {
    width: 139px;
}
#v2_product .new-pro-drdwn > ul {
    padding: 15px !important;
    max-height: 250px;
    overflow-y: auto;
    background: #fff;
}
#v2_main .#v2_product .row {
    margin-left: -10px;
    margin-right: -10px;
}
#v2_product .new-pro-drdwn > ul > li {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 2px solid #d9d5d5;
}
#v2_product .new-pro-drdwn > ul > li:last-child {
    border:0;
}
#v2_product .new-pro-drdwn > ul > li a{
    color: #333;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
#v2_product .new-pro-drdwn .part_m{
    width: auto;
}
#v2_product .new-pro-drdwn .part_m + .part_m{
    margin-left: 10px;
}
#v2_product .new-pro-drdwn .part_m h4{
    display: inline-block;
    padding: 10px 14px 9px;
    margin: 2px 0;
    background: #ebebeb;
    color: #333;
    font-size: 12px;
    border-radius: 4px;   
}
#v2_product .new-pro-drdwn .part_m h4.stainless_steel , .stainless_steel {
    background: #ffb291 !important;    
}
#v2_product .new-pro-drdwn .part_m h4.titanium , .titanium{
    background: #85ace7 !important;
}
#v2_product .new-pro-drdwn > ul > li a .clearfix{
    width: 100%;
}
#v2_product button[disabled] .glyphicon{
    opacity: 0.7;
}
#v2_product .snp-btn{
    color: #fff;
    background: #38D430;
}
#v2_product .input-number , #v2_product .snp-btn{
    height: 40px;
    text-align: center;
    color: #333;
    background: #ffffff;
}
#v2_product .snp-btn:hover{
    color: #fff;
    background: #38D430;
}
.padMobile {
    padding: 0;
    margin-bottom: 60px;
}
#v2_product .input-number{
    border-left: 1px solid #e1dede !important;
    border-right: 1px solid #e1dede !important;
    position: relative;
    z-index: 3;
    font-family: 'Oswald', sans-serif;
}
.add-bx-snap {
    padding-left: 10px;
}
.add-bx-snap .input-group {
    position: relative;
    border: 1px solid #e1dede;
    border-radius: 5px;
    overflow: hidden;
}
.pad15 {
    padding: 15px 0 0;
    margin: 0;
}
#v2_product .col-50.flexDirection .pad15{
    padding: 0;
    margin-left: 28%;
}
.leftTop{
    transform: none;
    top: 10%;
    left: 3%;
}
.bottomCenter{
    transform: none;
    top: auto;
    bottom: 12%;
    left: 0;
    right: 0;
}
@media (min-width: 1100px){
    #v2_product .page_container .row {
        margin-left: -10px;
        margin-right: -10px;
    }
}
@media (min-width: 768px){
    .flexDirection{
        flex-direction: column-reverse;
        display: flex;
        flex-wrap: wrap;
    }
    #v2_product .col-50{
        width: 50%;
    }
}
@media (max-width: 991px){
    .add-bx-snap {
        padding-left: 0;
        margin-top: 10px;
    }
}