div#v2_product .slick-arrow {
    position: absolute;
    top: 50%;
    height: 60px;
    width: 40px;
    left: 0;
    transform: translateY(-50%);
    background: url(../v2/img/arrowControls.png) no-repeat 0 center;
    background-size: 60px auto;
}

div#v2_product .slick-arrow.slick-next {
    background: url(../v2/img/arrowControls.png) no-repeat right center;
    background-size: 60px auto;
    left: auto;
    right: 0;
}

div#v2_product .slick-arrow:before,
#product_slider .slick-dots {
    display: none;
}

div#v2_product .pad60 {
    padding: 60px 0;
}

.v2_conatainer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.v2_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.v2_row>div {
    padding: 0 10px;
}

.fullWidth {
    width: 100%;
}

#v2_main .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
}

#v2_main .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box-squre {
    display: inline-block;
    padding: 10px;
    text-align: left;
    line-height: 1.2;
    margin: 20px;
    background: url(../v_4/images/blue-line-box.png) no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    max-width: 53%;
    z-index: 55;
    top: 20px;
    left: 20px;
}

#s8 h5 {
    font-size: 49px;
}

.auto-play-video {
    width: 100%;
    height: auto;
    position: relative;
}

.blue-txt h5 {
    color: #3b3eff;
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    padding: 20px;
}

.top-lft.abst_head {
    left: 6%;
    text-align: left;
    top: 20%;
}

.abst_head {
    color: #fff;
    line-height: 1.5;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#new-pro-page ul {
    list-style: none;
    padding: 0;
}

.dot-with ul.controls {
    position: static !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px !important;
}

ul.controls {
    position: absolute;
    bottom: 10px;
    left: 4%;
    list-style: none;
}

dot-with ul.controls li {
    margin: 15px 25px 0 !important;
    position: relative;
}

ul.controls li {
    float: left;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
}

.Labels-img .dot-with ul.controls img {
    margin-bottom: 0;
}

.dot-with ul.controls li img {
    width: 80px;
}