.img-wd-100{width:100%}
#new-pro-page .coating-bg-nw .row{padding:0}
.hand_welding .steels .noger-cont{width:95%;bottom:40px;max-width:1000px;text-align:center;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:center}
.steels ul.controls li{float:none!important}
.steels ul.controls li span{font-size:15px}
.new_bg_img.img-tag-sec.wing-sec{min-height:auto}
.new_bg_img.img-tag-sec.wing-sec .abst_head{left:55%;right:auto;max-width:600px;font-size:35px;font-weight:600;font-family:MHeiHKS-Light!important;text-align:center}
img.wing-img{max-width:150px;display:block;margin:0 auto 10px}
section.ht-img_new.s11-sec{text-align:left}
section.ht-img_new.s11-sec .new_title{padding:0 20px}
section.ht-img_new.s11-sec .new_title h1{font-size:40px}
.abst-btm.dot-with{position:relative;margin-top:50px}
.Labels-img.mt-botom-0 img{margin-bottom:20px}
.dot-with ul.controls{position:static!important;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:center;padding-top:30px!important}
.dot-with ul.controls li{margin:15px 25px 0!important;position:relative}
.dot-with ul.controls li .fine-icon{position:absolute;left:0;right:0;margin:auto;top:-50px;max-width:35px}
.dot-with ul.controls li img{width:80px}
.Labels-img .dot-with ul.controls img{margin-bottom:0}
.Labels-img .dot-with ul.controls span{color:#000;font-size:16px;margin-bottom:10px;display:block;font-weight:600}
.Labels-img .dot-with ul.controls li.king-icon span{color:#2ab464}
#main_sec .img-txt p{color:#fff!important}
.abst_head.botm-txt h1{color:#000;text-align:center}
.botm-box ul.controls.noger-cont{position:relative;margin-top:40px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:center}
.botm-box ul.controls.noger-cont li span{font-size:14px}
.abst_head.botm-txt.botm-box{bottom:20px}
@media (max-width: 1200px) {
.new_bg_img.img-tag-sec.wing-sec .abst_head{font-size:20px;left:50%}
}
@media (max-width: 991px) {
#new-pro-page .col-sm-6{margin-top:50px}
.ht-img_new{min-height:100px}
}
@media (min-width: 320px) and (max-width: 780px) {
h1{font-size:30px}
.mx-500{font-size:42px}
.pos-right{left:0;right:0}
.pos-botom-mobile{right:0;transform:none;-webkit-transform:none;bottom:20px;top:auto}
.head-title-size{padding:0 15px}
.text-section h1{font-size:20px}
.pad-50{padding:0 20px}
.new_bg_img.img-tag-sec.s3-sec{min-height:auto}
.heading-h1 h1{font-size:30px}
.models_switch{position:static;padding-top:30px}
.s3-sec .abst_head{left:0;transform:none;top:auto;bottom:20%;text-align:center;right:0}
h2{font-size:20px}
.Labels-img h2 br{display:none}
h3{font-size:25px}
.img-txt p{font-size:20px}
.abst-post-box{margin-top:-300px}
#new-pro-page .top-bg-4.top-set{padding:60px 15px}
.phone-icons-right{max-width:520px;margin:auto;left:0!important;right:0;padding:15px}
ul#slideshow6_thumbs.desoslide-thumbs-horizontal{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:center}
ul#slideshow6_thumbs.desoslide-thumbs-horizontal li{float:left!important}
.blue-txt,.blue-txt h1{font-size:20px}
.new_bg_img.img-tag-sec.wing-sec .abst_head{font-size:20px}
.phone-text{padding:0 10px}
.phone-text h1{margin-right:0}
.box-squre h1{font-size:20px}
.box-squre{padding:0;margin:20px;max-width:440px;top:20px;left:20px}
section.ht-img_new.s11-sec .new_title h1{font-size:30px}
section.ht-img_new.s11-sec .new_title p{font-size:18px;max-width:500px}
.botm-box ul.controls.noger-cont li span br{display:block}
}
@media (max-width: 480px) {
h1.head-arm{font-size:32px}
h2{font-size:18px}
h3{font-size:20px}
.img-txt p{font-size:18px}
.text-section p{font-size:13px}
.blue-txt h1{font-size:13px;padding:0}
.blue-txt h1 br{display:none}
.box-squre{padding:10px;position:absolute;left:0;right:0;max-width:320px;top:auto;bottom:20px}
#new-pro-page .coating-bg-nw .row{padding:0 20px}
.img-txt{margin-left:0}
.abst-btm{bottom:20px;padding:0 15px}
.abst-btm h1{font-size:20px}
.abst-btm h2{font-size:16px}
.steels ul.controls li{margin:0!important;width:33.33%;padding:0 10px 5px!important}
.steels ul.controls li span{font-size:12px;padding-top:5px}
.abst-post-box{margin-top:-200px}
.ht-img_new h1{font-size:25px}
.ht-img_new h1 br{display:none}
img.wing-img{max-width:70px}
.new_bg_img.img-tag-sec.wing-sec .abst_head{font-size:15px;color:#000}
.box-squre h1{font-size:18px;padding:0;margin:0}
.box-squre{padding:20px;margin:20px auto;max-width:300px;top:20px;left:0;right:0;bottom:auto}
section.ht-img_new.s11-sec .new_title h1,.ht-img_new .new_title h1{font-size:16px;margin:10px}
section.ht-img_new.s11-sec .new_title p,.ht-img_new .new_title p{font-size:15px}
.hand_welding .steels .noger-cont{bottom:10px}
.hand_welding .steels .noger-cont ul.controls li img{width:30px}
.dot-with ul.controls li img{width:50px}
.dot-with ul.controls li{margin:15px 15px 0!important}
.abst_head.botm-txt{bottom:100px}
.bg_img_shiny .abst_head.botm-txt h1{font-size:20px}
.abst_head.botm-txt h1{font-size:20px}
.new_title{top:20px}
}
@media (max-width: 360px) {
#new-pro-page ul#slideshow2_thumbs li{padding-right:20px}
}
#new-pro-page ul#slideshow2_thumbs li:last-child{padding-right:0}